{% extends 'template_base.html' %} 

{% block title %}
    PRODUCTOS
{% endblock %}

{% block body %}
    
<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Codigo</th>
            <th><a href="/add_productos" class="btn btn-primary"> Agregar Producto </a>
            </th>
        </tr>
    </thead>
    <tbody>
        {% for product in listado %}
        <tr>
            <td>{{product.name}}</td>
            <td>{{product.price}}</td>
            <td>{{product.code}}</td>
        {% endfor %}
        </tr>
    </tbody>
</table>

{% endblock %} 

